[submodule "oldbackend"]
	path = oldbackend
	url = https://github.com/weridolin/werido-site-backend
[submodule "front"]
	path = front
	url = https://github.com/weridolin/site-front-new
[submodule "alinlab-webhook"]
	path = alinlab-webhook
	url = https://github.com/weridolin/alinLab-webhook
[submodule "usercenter"]
	path = usercenter
	url = git@github.com:weridolin/site-usercenter.git
